<%- include('../partials/header') %>

<h2><%= product.name %></h2>
<img src="<%= product.image %>" alt="<%= product.name %>">
<p><%= product.description %></p>
<p>Price: $<%= product.price %></p>
<p>Stock: <%= product.stock %></p>
<button class="add-to-cart" data-product-id="<%= product._id %>">Add to Cart</button>

<%- include('../partials/footer') %>